<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Sensor Dashboard</title>
    </head>
    <body>

        <h1>Dashboard Sensore – Umidità</h1>

        <h3>Dati grezzi (MQTT)</h3>
        <pre id="raw">---</pre>

        <h3>Dati formattati</h3>
        <p id="formatted">---</p>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <canvas id="chart"></canvas>

        <script>

        const ws = new WebSocket("ws://localhost:8888/ws");

        const raw = document.getElementById("raw");
        const formatted = document.getElementById("formatted");

        ws.onopen = () => {
            console.log("WebSocket aperto");
        };

        ws.onmessage = (event) => {
            const msg = JSON.parse(event.data);

            // gestisce solo messaggi di tipo sensore
            if (msg.type !== "sensor") return;

            const data = msg.data;

            // filtra solo il sensore umidità
            if (data.sensor !== "humidity") return;

            const time = new Date().toLocaleTimeString();

            // dati grezzi
            raw.textContent = JSON.stringify(data, null, 2);

            // dati formattati
            formatted.textContent =
                `Humidity: ${data.value} ${data.unit} (ore ${time})`;

            // Aggiornamento in tempo reale del chart
            chart.data.labels.push(time);
            chart.data.datasets[0].data.push(data.value);
            chart.update();

            // Se più di 20 punti shifta il chart
            if (chart.data.labels.length > 20) {
                chart.data.labels.shift();
                chart.data.datasets[0].data.shift();
            }
        };

        ws.onclose = () => {
            console.log("WebSocket chiuso");
        };

        const ctx = document.getElementById("chart");

        const chart = new Chart(ctx, {
            type: "line",        // tipo di grafico (line = grafico a linee)
            data: {
                labels: [],      // asse orizzontale (tempo, indice, ecc.)
                datasets: [{
                    label: "Umidità (%)", // nome della linea nel grafico
                    data: [],                // valori numerici del sensore
                    borderWidth: 2
                }]
            },
            options: {
                animation: false,
                scales: {
                    y: {
                        min: 70,
                        max: 100
                    }
                }
            }
        });
        </script>
    </body>
</html>
