<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Sensor Dashboard</title>
    </head>
    <body>
        <h1> Scegli il sensore </h1>
        <form method="get">
            <!-- Inserisco la tendina per scegliere le categorie -->
            Filtra per categoria:
            <select name="category" onchange="this.form.submit()">
                <option value="" selected>None</option>
                <option value="temperature">Temperature</option>
                <option value="humidity">Humidity</option>
                <option value="pressure">Pressure</option>
            </select>
        </form>
    </body>
</html>
